@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&family=Poppins:wght@300;400;500;600&display=swap');
/*font-family: 'League Spartan', sans-serif;*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(images/bg-pattern-top-desktop.svg),url(images/bg-pattern-bottom-desktop.svg);
    background-position: left top right bottom;
    background-repeat: no-repeat,no-repeat;
    font-family: "League Spartan', sans-serif";
    font-size: 15px;
}
.container{
    max-width: 80%;
    margin: 12% 5%;
    margin-left: 20%;
    position: relative;
}
.primary_content{
display: grid;
grid-template-rows: repeat(2, 110px);
place-items: center;

}
.top_grid{
    display: grid;
    grid-template-columns: 300px 400px;
    column-gap: 140px;
    margin-top: 2rem;
    
}
.primary_content h1{
    font-weight: 700;
    color: hsl(300,43%,22%);
    font-size: 42px;
    margin-bottom: 1rem;
    
    
}
.primary_content p{
    color: hsl(303, 10%, 53%);
    
}
.rating{
    background-color:  hsl(303, 24%, 96%);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}
.rating:nth-child(2){
    left: 2rem;
}
.rating:nth-child(3){
    left: 4rem;
}
.rating p{
    margin-left: 15px;
    color: hsl(300,43%, 22%);
    font-size: 0.8rem;
    font-weight: 700;
}

.bottom_grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-gap: 10px;
    margin-top: 20px00;
}
.user_reviews{
    background-color:hsl(300, 43%, 22%) ;
    border-radius: 12px;
    padding: 3rem 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 10px;
    color: hsl(0,0%, 100%);
    position: relative;
}
.user_reviews:nth-child(2){
    top: 2rem;
}
.user_reviews:nth-child(3){
    top: 4rem;
}
.user_reviews p{
    font-size: 0.8em;
    line-height: 1.2em;
    font-weight: 400;
}
.user_details{
    display: flex;
    justify-content: left;
    align-items: center;
}
.user_details img{
    border-radius: 50%;
    width: 50px;
    margin-right:10px;

}
.info{
    font-weight: 500;
}
.verified{
    font-size: 0.7em;
    color: hsl(333, 80%, 27%);
}

@media screen and (max-width: 768px){
    .primary_grid{
        grid-template-rows: 1fr;
    }
    .top_grid{
        grid-template-columns: 1fr;
    }
    .ratings{
        margin:20px 0 ;
    }
    .rating{
        flex-direction: column;
    }
    .rating .stars{
        margin-bottom: 5px;
    }
    .rating:nth-child(2),.rating:nth-child(3){
        left: unset;
    }
    .user_reviews:nth-child(2),.user_reviews:nth-child(3){
        top: unset;
    }
    
}